@page
@model StepsModel
@{
	
}
<form method="post">
	<div class="">
		<select asp-for="StepsJourney.CurrentLocation.Id">
			@foreach (var item in Model.LocationList)
			{
				<option value="@item.Id">@item.Label</option>
			}
		</select>
	</div>
	<div class="">
		<input asp-for="StepsJourney.Date" />
	</div>
	<div class="">
		<select asp-for="StepsJourney.MeetPerson.Id">
			@foreach (var item in Model.PersonList)
			{
				<option value="@item.Id">@item.Surname</option>
			}
		</select>
	</div>
	<button type="submit">Envoyer</button>
</form>