@page
@model StepsModel
@{


}

<table class="table centered">
	<thead>
		<tr>
			<th>Date</th>
			<th>Le lieu</th>
			<th>La personne rencontrée</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Journey.Steps)
		{
			<tr>
				<td>
					@item.Date.ToString("dddd dd MMMM (MM) yyyy")
				</td>
				<td>
					@("=> " + item.CurrentLocation.Label)
				</td>
				<td>
					@if(item.MeetPerson != null)
					{
						@item.MeetPerson.Surname
					}
				</td>
			</tr>
		}		
	</tbody>
</table>