@page
@* @using SdA.AFrodoJourney.Core.Models *@

@model PeopleModel

@{
	//Layout = "_LayoutSansBootstrap";

	
	// Model.PersonList
}

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Prénom</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.PersonList)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Surname</td>
			</tr>
		}
		
	</tbody>
</table>

